h1{
    text-align: center;
    color: rgb(0, 0, 0);
}
h2{
    text-align: center;
}
img{
    width: 333px;
    height: 300px;
}
a{ 
    text-align: center;
    color: rgb(111, 109, 224);
}
.div{
    text-align: center;
}